* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #f7a650;
    --secondary-color: #f0cea9;
    --third-color: #e65621;
    --main-font: #e65621;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--main-font);
    background-color: var(--secondary-color);
  }
h2 {
    font-size: 30px;
}

/* Nav bar  */
header {
    background-color: var(--secondary-color);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-position: 80%;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
header nav ul li a {
    padding: 10px;
    color: var(--main-font);
    text-decoration: none;
}
header nav ul li a:hover {
    background:var(--primary-color);
    color: var(--third-color);
    border-radius: 10px;
    text-shadow: none;
    text-decoration: underline;
    text-decoration-color: var(--third-color);

}
/* Welcome Banner style */ 

.banner{
    display: flex;
    justify-content: flex-start;
    background-position: 80%;
    background-size: cover;
    background-image: url("./banner.jpeg");
    padding: 25px;
    padding-left: 30px;
    padding-right: 65%;
    margin-bottom: 25px;
}
/* About me section styles */

.about-me {
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    background-position: 80%;
    background-size: cover;
    justify-content: space-around;
}
.about-me h2{
    text-align: center;
    width: 15%;
    padding: 20px;
    border-right: solid 4px var(--third-color);
}
.about-me img {
    width: 15%;
    padding: 20px;
}
.about-me .about-text {
    margin: auto;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-indent: 30px;
    color: #5f499b;
}





/* Main work content styles */
#main {
    text-align: center;
}
.main-work {
    background-position: 80%;
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.caption-text {
    position: relative;
    color: var(--main-font);
    bottom: 20%;
    left: 10%;
    text-decoration: none;
    text-decoration-line: none;
}
.caption {
    width: 25%;
    padding: 20px;
}
#feature-proj{
    width: 50%;
    display: flex;  
}
.proj-pair {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
}
.main-work img {
    width: 100%;
    height :100%;
    object-fit: cover;
    border: solid 5px var(--third-color);
    opacity: .7;
}
.main-work img:hover {
    opacity: 1;
    box-shadow: var(--secondary-color);
}








/* Contact me styles */
.contact {
    background-position: 80%;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact ul {
    list-style: none;
    display: flex;
    height: 10%;
   
}
.contact ul a img {
    padding: 20px;
}
.contact h2 {
    padding: 20px;
    font-size: 30px;
}
.contact .contact-svgs ul li a img:hover {
    background: var(--secondary-color);
    border-radius: 10px;
}
 /* Footer style */ 
 footer {
     text-align: center;
     margin-bottom: 10px;
     margin-top: 0;
 }
 @media screen and (max-width: 980px) {
    .about-me {
        display: block;
        justify-content: center;

    }
    .about-me img {
        width: 30%;
    }
    .about-me h2 {
        border: none;
    }
    .media {
        display: flex;
        justify-content: space-around;
    }
  }
  